.detailview.container {
    border: none;
    border-radius: 0px;
    background: #000000;
    margin: auto;
    align-items: center;
    width: 90vw;
    max-width: 500px;
    margin-top: 7vh;
    margin-bottom: 2vh;
    padding: 0px;
    position: relative;
}

.detailview.item {
    border:  none;
    border-radius: 0px;
    background: #fff;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 0;
    margin-top: 0px;
    overflow-wrap: break-word;
}

.detailview.title {
    border: none;
    background: var(--color-orange);
    padding-bottom: 75px;
}

.detailview.close {
    position: absolute;
    right: -10px;
    top: -10px;
    width: 70px;
    height: 70px;
    margin: 0px;
    padding: 0px;
    background: var(--color-green);
    color: #000;
    border: none;
}

.detailview.closeicon {
    position: absolute;
    width: 80px;
    height: 80px;
    max-width: 80px;
    max-height: 80px;
    min-width: 80px;
    min-height: 80px;
    background: url(../views/Cross.png);
    background-repeat: no-repeat;
    background-size: 80px 80px;
    background-position: center;
}

.detailview.close:hover {
    background: rgb(176, 235, 196);
}

.detailview.closeiconspace {
    float: right;
    width: 47px;
    height: 47px;
    padding: 0px;
    margin: 0px;
}

.detailview.mainname {
    font-weight: 800;
    font-size: 48px;
    color: #fff;
    line-height: 48px;
}

.detailview.name {
    font-weight: 600;
    font-size: 18px;
}

.detailview.description {
    font-weight: 500;
    font-size: 16px;
    color: #222
}

.detailview.time {
    font-weight: 600;
    font-size: 24px;
    color: var(--color-green);
}

.detailview.checkbox * {
    color: var(--color-green);
}
  

.detailview.sliderReached * {
    background: var(--color-orange);
}
  

.detailview.sliderReached .MuiLinearProgress-dashed {
    background: #ffc29e;
    animation: none;
}

.detailview.sliderNotReached * {
    background: #888;
    animation: none;
}

.detailview.sliderNotReached .MuiLinearProgress-bar2Buffer {
    background: #aaa;
}

.detailview.sliderNotReached .MuiLinearProgress-dashed  {
    background: #ccc;
}

.detailview.button {
    width: 100%;
    border-radius: 0px;
    font-size: 40px;
    line-height: 40px;
    font-weight: bolder;
}

.detailview.loading {
    position: absolute;
    width: 20vh;
    height: 20vh;
    min-width: 20vh;
    min-height: 20vh;
    max-width: 20vh;
    max-height: 20vh;
    left: calc(50% - 10vh);
    top: calc(50% - 10vh);
}
