.eventlist-container .headerSection {
    width: 60%;
    margin-left: 20%;
    margin-top: 90px;
}

.eventlist-container .buttonRight {
    display: inline;
    float: right;
}

.eventlist-container .headerCategory {
    display: inline;
}

.eventlist-container .eventPanels {
    margin-top: 30px;
}