.headerSection {
    width: 60%;
    margin-left: 20%;
    margin-top: 15px;
    position: fixed;
}

.buttonRight {
    display: inline;
    float: right;
}

.headerCategory {
    display: inline;
}

.eventPanels {
    overflow: auto;
    margin-top: 50px;
}